.cart_table{
    border: 1px solid black;
    width: 70%;
    font-size: 25px;
    text-align: center;
}

.cart_table .cart_img{
    width: 15%;
}

.cart_table button {
    width: 75%;
    border: unset;
    outline: unset;
    background: var(--primary-color);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 20px;
    transition: 0.2s;
}

.cart_table button:hover{
    transform: scale(0.9);
}

.cart_table img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.cart_table td,tr,th{
    border: 1px solid black;
}

.cart_table .cart_quantily{
    width: 20%;
}

.cart_table .cart_quantily input{
    border: unset;
    outline: unset;
    background: unset;
    width: 50%;
}

.open-modal-btn{
    width: 20%;
    height: 3%;
    margin-top: 50px;
}

.open-modal-btn button{
    width: 100%;
    height: 100%;
    border: unset;
    outline: unset;
    background: var(--primary-color);
    color: white;
    border-radius: 5px;
    font-weight: 700;
    transition: 0.2s;
}

.open-modal-btn:hover button{
    transform: scale(0.9);
}

.cart_table_head{
    background: var(--primary-color);
    color: cornsilk;
    font-weight: 700;
}
