*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 200vh;
    background-image: linear-gradient(45deg, rgb(176, 135, 214) 0%, rgb(214, 180, 212) 50%, rgb(224, 207, 175) 100%);
}